.user-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #667E87;
    object-fit: cover;

    cursor: pointer;
}

.user-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 100%;
    padding: 15px 30px;
}

.user-dropdown {
    width: 140px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
    z-index: 2;
}

.user-dropdown div {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 8px;
}