#form-edit-client {
    row-gap: 20px;
    padding: 30px 8vw 25px 8vw;
    font-size: 12px;
}

#form-edit-client div input {
    padding: 8px 20px;
}

#form-edit-client .modal-close {
    right: -50px;
    font-size: 16px;
}

