.content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.column-gap-20 {
    column-gap: 20px;
}

.--wrap {
    flex-wrap: wrap;
}