.btn {
    all: unset;

    color: #FFFFFF;
    text-align: center;
    
    border-radius: 20px;
    width: 200px;
    padding: 11px;
}

.btn-pink-disabled {
    background-color: rgba(218, 1, 117, 0.35);
}

.btn-pink-activated {
    background-color: #DA0175;
    cursor: pointer;
}