@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import './alignments.css';
@import './buttons.css';
@import './texts.css';
@import './modal.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
}

h1:before {
    content: "//";
    margin-right: 8px;
}

.container {
    margin: 0 60px 60px 60px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}