.modal {
    background: rgba(0, 0, 0, 0.53);  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-close {
    position: relative;
    top: -5px;
    right: -15px;
    cursor: pointer;
    align-self: flex-end;

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #374952;
}