.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-status {
    font-weight: bold;
    text-transform: uppercase;
}

.text-status.--red {
    color: #FF4D4D;
}

.text-status.--green {
    color: #4EC06E;
    
}

.text-status.--blue {
    color: #5197B5;
}

.text-bold {
    font-weight: bold;
}