.card-charge {
    background: #F9F9F9;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    padding: 20px;
    width: 410px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    color: #4C4C4C;
}

.card-charge div {
    justify-content: space-between;
}

.card-charge-title {
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-charge-title span {
    margin-right: 5px;
}

.card-charge-title span::before {
    content: '#';
}