.customer-input {
    width: 50%;
    min-width: 500px;

    display: flex;
    flex-direction: column;
}

.customer-input input {
    border-radius: 8px;
    border: 1px solid #374952;
    padding: 8px;
    width: 100%;
}

.customer-input label {
    font-weight: bold;
    color: #374952;
}

.half {
    width: 49%;
    min-width: 240px;
}
