.input-search {
    font-size: 12px;
}

.input-search input {
    all: unset;
    background-color: transparent;
    border: 1px solid #374952;    
    border-radius: 8px;
    padding: 10px 24px;
    width: 220px;

    position: relative;
    bottom: 3.5px;
    right: -16px;
}

.search-button {
    all: unset;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;

    background: #374952;
    border-radius: 8px;
    padding: 10.5px 23px;
}

.search-button div {
    display: flex;
    align-items: center;
    column-gap: 11px;
}