.round-input {
    width: 50%;
    min-width: 500px;

    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: #374952;
}

.round-input input, 
.round-input select,
.round-input textarea {
    border-radius: 8px;
    border: 1px solid #374952;
    padding: 12px 20px;
    width: 100%;
}

.--date input {
    padding: 9px 20px;
}

.half {
    width: 49%;
    min-width: 240px;
}

.error label {
    color: #F44336;
}

.error input {
    border: 1px solid #F44336;
}