.container-register-client {
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.double-input {
    display: flex;
    width: 50%;
    min-width: 500px;
    justify-content: space-between;
}